
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root  {
    --background: 139 100% 100%;
    --foreground: 139 5% 10%;
    --card: 139 50% 100%;
    --card-foreground: 139 5% 15%;
    --popover: 139 100% 100%;
    --popover-foreground: 139 100% 10%;
    --primary: 139 69.6% 43.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 139 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 101 30% 95%;
    --muted-foreground: 139 5% 40%;
    --accent: 101 30% 90%;
    --accent-foreground: 139 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 139 5% 100%;
    --border: 139 30% 82%;
    --input: 139 30% 50%;
    --ring: 139 69.6% 43.9%;
    --radius: 1rem;
  }
  .dark  {
    --background: 139 50% 10%;
    --foreground: 139 5% 100%;
    --card: 139 50% 10%;
    --card-foreground: 139 5% 100%;
    --popover: 139 50% 5%;
    --popover-foreground: 139 5% 100%;
    --primary: 139 69.6% 43.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 139 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 101 30% 25%;
    --muted-foreground: 139 5% 65%;
    --accent: 101 30% 25%;
    --accent-foreground: 139 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 139 5% 100%;
    --border: 139 30% 50%;
    --input: 139 30% 50%;
    --ring: 139 69.6% 43.9%;
    --radius: 1rem;
    
  }
}


html{
  height: 100%;
  font-family: 'Inter';
}

body {
  height: 100%;
}

#root{
  height: 100%;
  padding: 0;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}